Repository vidarc/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.vue": [
    "prettier --write",
    "git add"
  ],
  "*.json": [
    "prettier --write",
    "git add"
  ],
  "*.{css,scss,sass}": [
    "prettier --write",
    "git add"
  ]
}

ci(release): :tada: releasing version: v4.5.5
  lerna.json
  packages/api/package.json
Due: prettier --write

chore(deps): update development dependencies
  package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

fix(deps): update production dependencies
  packages/api/package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

⬆️ babel-jest to 24.9.0
  package.json
  yarn.lock
Due: prettier --write

⬆️ webpack to 4.40.2
  package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.5.6
  lerna.json
  packages/api/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

🔊 use logger abstraction
  packages/api/src/cache/index.ts
  packages/api/src/weather/index.ts
Due: prettier --write, eslint --fix

✨ super super simple authentication with firebase
  packages/ui/src/global/app.scss
  packages/website/package.json
  packages/website/src/components/Authentication/EntryPoint.tsx
  packages/website/src/components/Navigation/Navigation.tsx
  packages/website/src/components/Navigation/Submenu.tsx
  packages/website/src/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

🎨 cleanup, create user in DB if !exists, admin role
  packages/website/src/components/Authentication/EntryPoint.tsx
  packages/website/src/components/Authentication/User.type.ts
  packages/website/src/components/Authentication/utils.ts
  packages/website/src/index.tsx
Due: prettier --write, eslint --fix

🎨 useContext for user information/isAdmin stuff
  packages/website/src/components/App.tsx
  packages/website/src/components/Authentication/EntryPoint.tsx
  packages/website/src/components/Authentication/User.type.ts
  packages/website/src/components/Authentication/utils.ts
  packages/website/src/components/ErrorBoundary.tsx
  packages/website/src/context/User.tsx
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.7
  lerna.json
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

🎨 moving user doc creation to firebase functions
  packages/api/src/index.ts
  packages/api/src/user/index.ts
  packages/api/src/user/onCreate.ts
  packages/api/src/user/onDelete.ts
  packages/website/src/components/Authentication/utils.ts
Due: prettier --write, eslint --fix

🐛 run admin.initApp before importing local files
  packages/api/src/index.ts
Due: prettier --write, eslint --fix

🐛 changing firestore usage + adding logs
  packages/api/src/index.ts
  packages/api/src/user/onCreate.ts
  packages/api/src/user/onDelete.ts
Due: prettier --write, eslint --fix

⚡️ api babel set to node 10 env
  packages/api/.babelrc
Due: none

ci(release): :tada: releasing version: v4.5.8
  lerna.json
  packages/api/package.json
  packages/website/package.json
Due: prettier --write

🐛 serialize the user object with toJSON function
  packages/api/src/user/onCreate.ts
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.9
  lerna.json
  packages/api/package.json
Due: prettier --write

🐛 simplifying db.set, probably don't need whole user object
  packages/api/src/user/onCreate.ts
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.10
  lerna.json
  packages/api/package.json
Due: prettier --write

🚑 should be async functions
  packages/api/src/user/onCreate.ts
  packages/api/src/user/onDelete.ts
Due: prettier --write, eslint --fix

🎨 might need to return something here
  packages/api/src/user/onCreate.ts
  packages/api/src/user/onDelete.ts
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.11
  lerna.json
  packages/api/package.json
Due: prettier --write

🚸 using default firebase auth persistance
  packages/website/src/components/Authentication/EntryPoint.tsx
Due: prettier --write, eslint --fix

🎨 allow for sign-out, fix useEffect deps
  packages/website/src/components/Authentication/EntryPoint.tsx
Due: prettier --write, eslint --fix

fix(deps): update production dependencies
  packages/api/package.json
  packages/ui/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

🏷️ fix typings after stencil typings change
  packages/ui/src/components.d.ts
  packages/website/src/components.d.ts
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.12
  lerna.json
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

fix(deps): update production dependencies
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

⬆️ webpack set to 4.41.0
  package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.5.13
  lerna.json
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

chore(deps): update development dependencies
  package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

fix(deps): update production dependencies
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.5.14
  lerna.json
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

fix(deps): update production dependencies
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.5.15
  lerna.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

chore(deps): update development dependencies
  package.json
  packages/cypress/package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

💚 setting travis to node 10 instead of lts
  .travis.yml
Due: none
