Repository vidarc/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(deps): update production dependencies
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.3.1
  lerna.json
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

✨ updating home page, click outside hook for menu
  packages/website/src/components/App.tsx
  packages/website/src/components/Navigation/Submenu.tsx
  packages/website/src/components/Navigation/useDropdownClose.ts
  packages/website/src/modules/home/Home.tsx
  packages/website/src/modules/home/galaxy.png
Due: prettier --write, eslint --fix

💚 add back id for e2e tests
  packages/website/src/modules/home/Home.tsx
Due: prettier --write, eslint --fix

🎨 cypress eslint, fixing home e2e test
  .eslintrc.js
  package.json
  packages/cypress/integration/main-tests.spec.js
  yarn.lock
Due: prettier --write, eslint --fix

✨ init weather api commit + better typing
  .eslintrc.js
  package.json
  packages/api/package.json
  packages/api/src/graphql/starwars/helpers.ts
  packages/api/src/index.ts
  packages/api/src/logger.ts
  packages/api/src/weather/index.ts
  packages/api/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

🏷️ more typing added
  .eslintrc.js
  packages/types/typescript/typography-plugin-code.d.ts
  packages/types/typescript/typography-theme-de-young.d.ts
  packages/typography/index.ts
  packages/website-vue/src/store/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix

🏷️ even more typing
  package.json
  packages/website/src/components/App.tsx
  packages/website/src/components/ErrorBoundary.tsx
  packages/website/src/components/Navigation/StyledComponents.tsx
  packages/website/src/components/Navigation/useDropdownClose.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

🚨 something that linting didn't catch
  packages/website/src/components/Navigation/useDropdownClose.ts
Due: prettier --write, eslint --fix

🔥 getting rid of reason react package
  packages/reason/.gitignore
  packages/reason/README.md
  packages/reason/bsconfig.json
  packages/reason/index.html
  packages/reason/index.ts
  packages/reason/loader.js
  packages/reason/package.json
  packages/reason/src/ButtonWithState.re
  packages/reason/src/ReasonReactEntry.re
  packages/reason/watcher.js
  packages/website/package.json
  packages/website/src/components/App.tsx
  packages/website/src/components/Navigation/Navigation.tsx
  packages/website/src/modules/home/Home.tsx
  yarn.lock
Due: prettier --write, eslint --fix

🎨 refactoring, typing, and more
  .eslintignore
  package.json
  packages/ui/src/components.d.ts
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/icons/icons.tsx
  packages/ui/src/components/icons/pause/pause.tsx
  packages/ui/src/components/icons/play/play.tsx
  packages/ui/src/components/icons/svg/caret-down-solid.svg
  packages/ui/src/components/icons/svg/pause-solid.svg
  packages/ui/src/components/icons/svg/play-solid.svg
  packages/ui/src/components/icons/svg/undo-solid.svg
  packages/ui/src/components/icons/undo/undo.tsx
  packages/ui/src/index.html
  packages/website/public/svg/caret-down-solid.svg
  packages/website/public/svg/pause-solid.svg
  packages/website/public/svg/play-solid.svg
  packages/website/public/svg/undo-solid.svg
  packages/website/src/components.d.ts
  packages/website/src/components/Navigation/Navigation.tsx
  packages/website/src/components/Navigation/Submenu.tsx
  packages/website/src/modules/gameOfLife/components/Controls.tsx
  packages/website/src/modules/gameOfLife/containers/Controls.tsx
  yarn.lock
Due: prettier --write, eslint --fix

🏷️ think i fixed all the typings
  packages/website/src/modules/gameOfLife/GameOfLife.tsx
  packages/website/src/modules/gameOfLife/components/GameBoard.tsx
  packages/website/src/modules/gameOfLife/components/GameBoardRow.tsx
  packages/website/src/modules/todoApp/components/Footer.tsx
  packages/website/src/modules/todoApp/containers/AddTodo.tsx
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.4.0
  lerna.json
  packages/api/package.json
  packages/cypress/package.json
  packages/types/package.json
  packages/typography/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

chore(deps): update development dependencies
  package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

🐛 fix stencil build with asynciterable flag
  tsconfig.json
Due: prettier --write

🐛 for real fixing it
  packages/ui/tsconfig.json
Due: prettier --write

ci(release): :tada: releasing version: v4.4.1
  lerna.json
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

👷 trying out github actions
  .github/workflows/pull-request.yml
Due: none

💚 syntax issue?
  .github/workflows/pull-request.yml
Due: none

💚 make it a job and delete travisci yml
  .github/workflows/pull-request.yml
  .travis.yml
Due: none

fix(deps): update production dependencies
  packages/api/package.json
  packages/ui/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.4.2
  lerna.json
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

✨ simple weather api
  packages/api/src/index.ts
  packages/api/src/weather/index.ts
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.0
  lerna.json
  packages/api/package.json
Due: prettier --write

🐛 might not be able to destructure here
  packages/api/src/weather/index.ts
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.1
  lerna.json
  packages/api/package.json
Due: prettier --write

🍻 trying out a cache that may or may not work
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/weather/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.2
  lerna.json
  packages/api/package.json
Due: prettier --write

fix(deps): update dependency sass-loader to v8
  packages/website-vue/package.json
  yarn.lock
Due: prettier --write

chore(deps): update development dependencies
  package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency nock to v11
  packages/website/package.json
  yarn.lock
Due: prettier --write

🍻 pushing cache code that may not work
  packages/api/src/cache/index.ts
  packages/api/src/index.ts
  packages/api/src/weather/index.ts
Due: prettier --write, eslint --fix

🍻 move init app call, lazy load graphql code
  packages/api/src/cache/index.ts
  packages/api/src/graphql/starwars/helpers.ts
  packages/api/src/index.ts
Due: prettier --write, eslint --fix

🍻 rearranging firestore/app initiliazation
  packages/api/src/cache/index.ts
  packages/api/src/graphql/starwars/helpers.ts
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.3
  lerna.json
  packages/api/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

🍻 escape the url
  packages/api/src/cache/index.ts
Due: prettier --write, eslint --fix

ci(release): :tada: releasing version: v4.5.4
  lerna.json
  packages/api/package.json
Due: prettier --write

🐛 more caching fixes
  packages/api/src/cache/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)) or (any of: *.json)) or (any of: *.{css,scss,sass})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
