Repository vidarc/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

fix(deps): update production dependencies
  packages/api/package.json
  packages/reason/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.1.5
  lerna.json
  packages/api/package.json
  packages/reason/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

fix(deps): update dependency lodash.merge to v4.6.2 [security]
  packages/api/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.1.6
  lerna.json
  packages/api/package.json
Due: prettier --write

chore(deps): update development dependencies
  package.json
  packages/cypress/package.json
  yarn.lock
Due: prettier --write

fix(deps): update production dependencies
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.1.7
  lerna.json
  packages/api/package.json
  packages/cypress/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

fix(deps): update dependency sanitize.css to v11
  packages/ui/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.1.8
  lerna.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

chore(deps): update development dependencies
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update production dependencies
  packages/api/package.json
  packages/typography/package.json
  packages/website-vue/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.1.9
  lerna.json
  packages/api/package.json
  packages/typography/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

💄 changing the UI around to maybe be better
  packages/typography/index.ts
  packages/ui/src/components/button/style.scss
  packages/ui/src/global/app.scss
  packages/ui/src/global/variables.scss
  packages/ui/stencil.config.ts
  packages/website/src/components/App.tsx
  packages/website/src/components/ErrorBoundary.tsx
  packages/website/src/components/GlobalStyles.tsx
  packages/website/src/components/Navigation/StyledComponents.tsx
Due: prettier --write, tslint --fix

fix(deps): update production dependencies
  packages/api/package.json
  packages/ui/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.1.10
  lerna.json
  packages/api/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

chore(deps): update development dependencies
  package.json
  packages/cypress/package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

chore(deps): update development dependencies
  package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

🏷️ test typing + test-renderer matches react version
  package.json
  packages/website/package.json
  packages/website/src/modules/starWarsApp/components/FlexContainer.tsx
  yarn.lock
Due: prettier --write, tslint --fix

💚 fixing needed dependencies for cypress
  .travis.yml
Due: none

➖ remove apollo so i can use my yarn
  packages/api/package.json
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.1.11
  lerna.json
  packages/api/package.json
  packages/cypress/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

fix(deps): update dependency react-apollo to v3
  packages/website/package.json
  yarn.lock
Due: prettier --write

♻️ update to use useQuery hook
  packages/website/src/modules/starWarsApp/containers/withQuery.tsx
Due: prettier --write, tslint --fix

ci(release): :tada: releasing version: v4.2.0
  lerna.json
  packages/typography/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update production dependencies
  packages/reason/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
  yarn.lock
Due: prettier --write

📌 upping webpack resolution to 4.39.1
  package.json
  yarn.lock
Due: prettier --write

🏷️ small typing added
  packages/website/src/modules/starWarsApp/containers/withQuery.tsx
Due: prettier --write, tslint --fix

ci(release): :tada: releasing version: v4.2.1
  lerna.json
  packages/reason/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

💄 simple styling for "a" tags
  packages/ui/src/global/app.scss
  packages/ui/src/index.html
Due: prettier --write

💄 some nav updates (look and feel)
  packages/website/src/components/Navigation/Navigation.tsx
  packages/website/src/components/Navigation/StyledComponents.tsx
Due: prettier --write, tslint --fix

♻️ making submenu more reusable
  package.json
  packages/website/src/components/Navigation/Navigation.tsx
  packages/website/src/components/Navigation/StyledComponents.tsx
  packages/website/src/components/Navigation/Submenu.tsx
Due: prettier --write, tslint --fix

💄 cleaning up and updating styles
  packages/typography/index.ts
  packages/ui/src/global/app.scss
  packages/website/src/components/Navigation/Menu.tsx
  packages/website/src/components/Navigation/MenuItem.tsx
  packages/website/src/components/Navigation/Navigation.tsx
  packages/website/src/components/Navigation/StyledComponents.tsx
  packages/website/src/components/Navigation/Submenu.tsx
  packages/website/src/modules/starWarsApp/StarWarsApp.tsx
  packages/website/src/modules/starWarsApp/components/ContentRow.tsx
  packages/website/src/modules/starWarsApp/components/DisplayArray.tsx
  packages/website/src/modules/starWarsApp/components/TabLink.tsx
Due: prettier --write, tslint --fix

🎨 adding types and updating color vars
  package.json
  packages/ui/src/global/app.scss
  yarn.lock
Due: prettier --write

ci(release): :tada: releasing version: v4.3.0
  lerna.json
  packages/typography/package.json
  packages/ui/package.json
  packages/website-vue/package.json
  packages/website/package.json
Due: prettier --write

🚨 switching from tslint to eslint
  .eslintrc.js
  .lintstagedrc
  package.json
  packages/website/package.json
  packages/website/src/components/Navigation/Submenu.tsx
  tslint.json
  yarn.lock
Due: prettier --write, tslint --fix

🏷️ lockfile
  yarn.lock
Due: none

chore(deps): update development dependencies
  package.json
  packages/website-vue/package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: ((((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.vue)) or (any of: *.json)) or (any of: *.{css,scss,sass})
  tslint --fix: any of: *.{ts,tsx}
